body {
    margin: 0;
    background-color: rgb(208, 255, 239);
}

.main-game {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.name,
.gamecontent {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.memorygame {
    display: grid;
    grid-template-areas: 'p1 p2 p3 p4' 'p5 p6 p7 p8';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 1000px;
    height: 700px;
    padding: 50px;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.hide {
    cursor: pointer;
    background-color: gray;
}

.hide:hover {
    box-shadow: 0 0 40px#0ff;
}

@media (max-width: 768px) {
    .memorygame {
        width: 600px;
        height: 450px;
    }
}

@media (max-width: 425px) {
    .memorygame {
        grid-template-areas: 'p1 p2' 'p3 p4' 'p5 p6' 'p7 p8';
        width: 250px;
        height: 750px;
        padding: 30px;
    }
}